<%= simple_form_for(@tweet) do |f| %>
<%= f.error_notification %>
<div class="field">
  <div class="control">
    <%= f.input :tweet, label: "Vweet", input_html: { class: "textarea "}, wrapper: false, label_html: {class: "label"}, placeholder: "Escribe un nuevo Vweet", autofocus: true %>
  </div>
</div>
<%= f.button :submit, "Crear Vweet", class: "button is-info" %>
<% end %>